html {
    font-size: 100%;
}
body {
    color: black;
    font-size: 1rem;
    margin: 0 auto;
}
.wrapper {
    max-width: 900px;
    margin: 0 auto 100px auto;
    text-align: center;
    padding: 0 4%;
}
.img {
    max-width: 100%;
}
.btn:hover {
    opacity: 0.8;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 auto;
}
#header .fa-twitter {
    font-size: 2.2rem;
    color: #55acee;
    margin-right: 10px;
}


#mainvisual img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-bottom: 80px;
}


#statement {
    max-width: 100%;
    font-size: 1.5rem;
}
#statement .fa-twitch {
    margin-right: 5px;
}


#teams h2 {
    font-size: 2rem;
    border-bottom: 1px solid black;
    display: inline-block;
    margin-bottom: 50px;
}
#teams h3 {
    font-size: 1.2rem;
}
#teams .contents {
    display: flex;
}
#teams img {
    width: 95%;
}


#footer {
    text-align: center;
    font-size: 0.6rem;
}


@media (max-width: 1000px) {
    
    #header h1 {
        font-size: 1.7rem;
    }
    #header .fa-twitter {
        font-size: 2.2rem;
    }

    #mainvisual img {
        height: calc(100vh - 60px);
    }

    #statement {
        font-size: 1rem;
    }

    #teams .contents {
        display: flex;
        flex-direction: column;
    }
    #teams .content {
        margin-bottom: 30px;
    }
    #teams img {
        width: 100%;
    }
    #teams h2 {
        font-size: 1.5rem;
    }
    #teams h3 {
        font-size: 1.2rem;
    }
}
