html {
    font-size: 100%;
}
body {
    margin: 0 auto;
    font-size: 1rem;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
}
.site-title a {
    display: block;
}
.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}
.content-title {
    font-size: 1rem;
    margin: 10px 0;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 80px;
}
#header a {
    color: black;
}
#header .link:hover {
    color: blue;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
    margin-bottom: 80px;
}
#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

/*-------------------------------------------
Profile
-------------------------------------------*/
#about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/*-------------------------------------------
Works
-------------------------------------------*/
#works .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#works img {
    width: 32%;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {

    /*-------------------------------------------
    Mainvisual
    -------------------------------------------*/
    #mainvisual img {
        height: calc(100vh - 80px);
    }

    /*-------------------------------------------
    Works
    -------------------------------------------*/
    #works .content {
        flex-direction: column;
    }
    #works img {
        width: 100%;
        margin-bottom: 30px;
    }
}
