@charset "UTF-8";

* {
    box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  color: black;
  font-family: "Yu Mincho";
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title a {
  color: black;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px black;
}
.content-title {
  margin: 10px 0;
  font-size: 130%;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 80px;
}
#header .fa-twitter {
    font-size: 40px;
    color: #55acee;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
    margin-bottom: 80px;
}
#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

/*-------------------------------------------
Statement
-------------------------------------------*/
#statement {
    font-size: 140%;
}

/*-------------------------------------------
Teams
-------------------------------------------*/
#teams ul {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
    margin: 0 0;
}
#teams li {
    width: 49%;
}
#teams p {
    font-weight: bold;
}

/*-------------------------------------------
Casters
-------------------------------------------*/
#casters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#casters .content {
    width: 49%;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {

  .site-title a {
    font-size: 1.7rem;
  }
  .section-title {
    font-size: 1.7rem;
  }
  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  #mainvisual img {
    height: calc(100vh - 80px);
  }
  /*-------------------------------------------
  Statement
  -------------------------------------------*/
  #statement {
    font-size: 100%;
  }

  /*-------------------------------------------
  Teams
  -------------------------------------------*/
  #teams ul {
    flex-direction: column;
  }
  #teams li {
    width: 100%;
    margin-bottom: 30px;
  }
  #teams p {
    font-weight: normal;
  }

  /*-------------------------------------------
  Casters
  -------------------------------------------*/
  #casters .content {
    width: 100%;
  }
  #casters .section-title{
    margin-top: 0;
  }
}
